<div class="tabs"> 
	<h2>Propuestas</h2> 
	<ul> 
		<li><%= link_to "Más populares", root_path(:type => "recent_popular"), :class => tab_class(params[:type], "recent_popular") %></li> 
		<li><%= link_to "Recientes", root_path(:type => "recent"), :class => tab_class(params[:type], "recent") %></li> 
		<li><%= link_to "Activas", root_path(:type => "active"), :class => tab_class(params[:type], "active") %></li> 
		<li><%= link_to "Cerradas", root_path(:type => "closed"), :class => tab_class(params[:type], "closed") %></li> 
	</ul>
</div>

<div class="propuestas">
  <%= image_tag("spinner.gif", :style => "display: none;", :id => "spinner") %>
  <div id="propuestas">
    <%= render :partial => '/bills/bill', :collection => @bills %>
  </div>
</div>