<% content_for :body_class do -%>
	class="dashboard <% if current_user %>logged<% end %>"
<% end -%>

<% content_for :jQuery do -%>
  <%= javascript_include_tag "jquery.tweet" %>
  <script type='text/javascript'>
      jQuery(document).ready(function(){
          jQuery(".tweets").tweet({
              username: "innku",
              join_text: "auto",
              avatar_size: 32,
              count: 1,
              auto_join_text_default: "", 
              auto_join_text_ed: "",
              auto_join_text_ing: "",
              auto_join_text_reply: "",
              auto_join_text_url: "",
              loading_text: "cargando tweet..."
          });
      });
  </script>
  <%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<% end -%>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery.fancybox-1.3.1' %>
<% end -%>

<div style="display: none;">
  <div id="invite_form" class="cien">
    <%= render :partial => '/contacts/import_contacts' %>
  </div>
</div>

<% if logged_in? %>
  <div id="invite">
    <h2 class="section">Con&oacute;ce las propuestas, &nbsp; ¡ Participa !</h2>
    <%= link_to "Invita a tus amigos", "#invite_form", :class => "action invite_link" %>
  </div>
<% else %>
  <div id="pitch"> 
  	<div class="left"> 
  		<h1>Con&oacute;ce las propuestas,<br /> 
  			da tu opini&oacute;n y sigue los pasos<br /> 
  			de tus diputados.</h1> 
  		<p>&iquest;Sabes si tu diputado realmente te representa?<br /> 
  		 Ub&iacute;calo, observa sus decisiones y comparalas<br /> 
  		 con el voto ciudadano.</p>
		 
  		<%= link_to "Comienza ahora &raquo;", "#signup_form", :class => "action signup_link" %>
		
  		<div style="display: none;">
  		  <div id="signup_form" class="cien">
  		    <%= render :partial => '/citizens/form' %>
  		  </div>
  		</div>
  	</div> 
  	<div class="right">
  		<ul> 
  			<li> 
  				<a href="#signup_form" class="signup_link"> 
    				<%= image_tag("01.jpg", :alt => "") %>
    				<h2>Forma parte de Mi Congreso</h2> 
    				<p>Reg&iacute;strate y opina sobre el M&eacute;xico que quieres ver</p> 
  				</a>
  			</li> 
  			<li class="center"> 
  				<a href="#invite_form" class="invite_link"> 
    				<%= image_tag("02.jpg", :alt => "") %> 
    				<h2>Invita a tus amigos</h2> 
    				<p>Fomenta la participaci&oacute;n ciudadana</p> 
  				</a>
  			</li> 
  			<li>
  				<a href="#"> 
    				<%= image_tag("03.jpg") %> 
    				<h2>&iquest;Quieres saber mas?</h2> 
    				<p>Con&oacute;ce mas sobre esta iniciativa</p> 
  				</a> 
  			</li> 
  		</ul> 
  	</div>	
  </div>
<% end %>

<div id="rest"> 
	<div class="left"> 
		<div class="tabs"> 
  		<h2>Propuestas</h2> 
  		<ul> 
  			<li><%= link_to "Más populares", root_path(:type => "recent_popular"), :class => tab_class(params[:type], "recent_popular") %></li> 
  			<li><%= link_to "Recientes", root_path(:type => "recent"), :class => tab_class(params[:type], "recent") %></li> 
  			<li><%= link_to "Activas", root_path(:type => "active"), :class => tab_class(params[:type], "active") %></li> 
  			<li><%= link_to "Cerradas", root_path(:type => "closed"), :class => tab_class(params[:type], "closed") %></li> 
  		</ul>
		</div>

		<div class="propuestas">
		  <%= image_tag("spinner.gif", :style => "display: none;", :id => "spinner") %>
		  <div id="propuestas">
		    <%= render :partial => '/bills/bill', :collection => @bills %>
		  </div>
		</div>

	</div>
		
	<div class="right"> 
		  <% if current_user && current_user.section %>
		    <div id="diputado" class="escogido">
		      <h2><%= current_user.member.name %></h2>
  		    <%= image_tag(current_user.member.picture.url(:thumb)) %>
  		    <%= link_to "Perfil de tu diputado &raquo;", current_user.member %>
		    </div>
		  <% else %>
		    <div id="diputado"> 
    			<h2>&iquest;Sabes quién es<br />tu diputado?</h2> 
    			<a id="search_link" href="#search_member">Descubrelo ahora &raquo;</a> 
    			<p>Comienza a seguirles la pista en las decisiones que toman</p> 
  			</div>
  		<% end %>
		
		<div style="display: none;">
		  <div id="search_member">
		    <h2>Encuentra a tu diputado</h2>
		    <% form_tag districts_path, :method => :get do %>
      	  <p>
      	    <strong><%= label_tag :state_id, "Estado" %></strong><br/>
      	    <%= select_tag :state_id, options_for_select(State.all.map {|s| [s.name, s.id]}, :selected => params[:state_id].to_i) %>
      	  </p>
      	  <p>
      	    <strong><%= label_tag :section, "Sección" %></strong><br/>
      	    <%= text_field_tag :section %>
      	  </p>
      	  <p><%= submit_tag "Buscar", :class => "action" %></p>
      	<% end %>
		  </div>
		</div>

		<div id="noticias"> 
			<h2>Noticias</h2> 
			<ul class="list"> 
			  <% for news in @news %>
					<li> 
						<%= image_tag(news.photo.url(:thumb)) %>
						<h3><%= link_to truncate(news.title, :length => 75), news %></h3> 
					</li> 
				<% end %>
			</ul> 
			<ul class="links"> 
				<li><%= link_to "Mas noticias &raquo;", news_index_path %></li> 
			</ul>
		</div> 

		<div id="users"> 
			<h2>Miembros de Mi Congreso</h2> 
			<ul class="pics">
			  <% @citizens.each do |citizen| %>
          <li><%= image_tag(citizen.profile.avatar.url(:thumb)) %></li>
        <% end %>
			</ul> 
			<% unless current_user %>
  			<ul class="links"> 
  				<li><%= link_to "Unete a Mi Congreso &raquo;", "#signup_form", :class => "signup_link" %></li> 
  			</ul> 
  		<% end %>
		</div> 
		
		<div id="tweet"> 
			<h2>Tweet Tweet!</h2> 
			<div class="bird"> 
				<img src="/images/tweet.gif" /> 
			</div> 
			<div class="tweets"></div> 
			<ul class="links"> 
				<li><%= link_to "S&iacute;guenos en twitter &raquo;", "http://twitter.com/innku" %></li> 
			</ul> 
		</div> 
	</div> 

</div> 
