<% content_for :body_class do -%>
	class="dashboard"
<% end -%>

<% content_for :jQuery do -%>
  <%= javascript_include_tag "jquery.tweet" %>
  <script type='text/javascript'>
      jQuery(document).ready(function(){
          jQuery(".tweets").tweet({
              username: "innku",
              join_text: "auto",
              avatar_size: 32,
              count: 1,
              auto_join_text_default: "", 
              auto_join_text_ed: "",
              auto_join_text_ing: "",
              auto_join_text_reply: "",
              auto_join_text_url: "",
              loading_text: "cargando tweet..."
          });
      });
  </script>
<% end -%>

<div id="pitch"> 
	<div class="left"> 
		<h1>Con&oacute;ce las propuestas,<br /> 
			da tu opini&oacute;n y sigue los pasos<br /> 
			de tus diputados.</h1> 
		<p>&iquest;Sabes si tu diputado realmente te representa?<br /> 
		 Ub&iacute;calo, observa sus decisiones y comparalas<br /> 
		 con el voto ciudadano.</p>
		<%= link_to "Comienza ahora &raquo;", signup_path, :class => "action" %>
	</div> 
	<div class="right">
		<ul> 
			<li> 
				<a href="#"> 
  				<img src="/images/01.jpg" /> 
  				<h2>Forma parte de Mi Congreso</h2> 
  				<p>Reg&iacute;strate y opina sobre el M&eacute;xico que quieres ver</p> 
				</a> 
			</li> 
			<li class="center"> 
				<a href="#"> 
  				<img src="/images/02.jpg" /> 
  				<h2>Invita a tus amigos</h2> 
  				<p>Fomenta la participaci&oacute;n ciudadana</p> 
				</a>
			</li> 
			<li>
				<a href="#"> 
  				<img src="/images/03.jpg" /> 
  				<h2>&iquest;Quieres saber mas?</h2> 
  				<p>Con&oacute;ce mas sobre esta iniciativa</p> 
				</a> 
			</li> 
		</ul> 
	</div>	
</div>

<div id="rest"> 
	<div class="left"> 
		<div class="tabs"> 
  		<h2>Propuestas</h2> 
  		<ul> 
  			<li><a href="#" class="active">Mas votadas</a></li> 
  			<li><a href="#">Recientes</a></li> 
  			<li><a href="#">Activas</a></li> 
  			<li><a href="#">Cerradas</a></li> 
  		</ul> 
		</div> 

		<div class="propuestas">
    	
    	<% for bill in @bills %>
    		<div class="propuesta"> 
    			<div class="ribbon"> 
    				<p><%= bill.date.strftime("%d") %><br /><%= bill.date.strftime("%b") %></p>		
    			</div>
    			<h3><%= link_to bill.name, bill %></h3> 
    			<ul class="graficas">
    				<li class="ciudadana">
    				  <span>Votaci&oacute;n ciudadana:</span>
    				  <div class="votos">
    				    <div class="barra favor" style="width: <%= bill.citizen_votes_and_percents[3] %>%;">&nbsp; <%= show_votes?(0, bill.citizen_votes_and_percents) %></div>
      				  <div class="barra contra" style="width: <%= bill.citizen_votes_and_percents[4] %>%;">&nbsp; <%= show_votes?(1, bill.citizen_votes_and_percents) %></div>
      				  <div class="barra neutral" style="width: <%= bill.citizen_votes_and_percents[5] %>%;">&nbsp; <%= show_votes?(2, bill.citizen_votes_and_percents) %></div>
    				  </div>
    				</li>
    				<li class="oficial">
    				  <span>Votaci&oacute;n oficial:</span>
    				  <div class="votos">
    				    <div class="barra favor" style="width: <%= bill.member_votes_and_percents[3] %>%;">&nbsp; <%= show_votes?(0, bill.member_votes_and_percents) %></div>
      				  <div class="barra contra" style="width: <%= bill.member_votes_and_percents[4] %>%;">&nbsp; <%= show_votes?(1, bill.member_votes_and_percents) %></div>
      				  <div class="barra neutral" style="width: <%= bill.member_votes_and_percents[5] %>%;">&nbsp; <%= show_votes?(2, bill.member_votes_and_percents) %></div>
    				  </div>
    				</li>
    				<li class="resultados">Resultados oficiales: </li> 
    				<li class="resultado_si">Aprobada -</li> 
    				<li class="resultado_no">Rechazada -</li> 
    			</ul>
    			<% if current_user %>
      			<ul id="bill_<%= bill.id %>" class="links">
        			<% if current_user.voted_on?(bill) %>
        			  <li>Votaste: <%= display_vote(current_user.vote_choice(bill)) %></li>
        			<% else %>
        			  <li><%= link_to "Vota a favor", bill_votes_path(bill), :class => "vote si", 'data-vote' => 1, 'data-voteable' => "bill" %> </li>
        			  <li><%= link_to "Vota en contra", bill_votes_path(bill), :class => "vote no", 'data-vote' => 0, 'data-voteable' => "bill" %></li>
        			  <li><%= link_to "Abstención", bill_votes_path(bill), :class => "vote", 'data-vote' => -1, 'data-voteable' => "bill" %></li>
        			<% end %>
      			</ul>
    			<% end %>
    		</div>
    	<% end %>
		</div>

	</div>
		
	<div class="right"> 
		<div id="diputado"> 
			<h2>&iquest;Sabes quienes son<br />tus diputados?</h2> 
			<a href="#">Descubrelo ahora &raquo;</a> 
			<p>Comienza a seguirles la pista en las decisiones que toman</p> 
		</div> 

		<div id="noticias"> 
			<h2>Noticias</h2> 
			<ul class="list"> 
			  <% for news in @news %>
					<li> 
						<%= image_tag(news.photo.url(:thumb)) %>
						<h3><%= link_to truncate(news.title, :length => 75), news %></h3> 
					</li> 
				<% end %>
			</ul> 
			<ul class="links"> 
				<li><a href="#">Mas noticias &raquo;</a></li> 
			</ul>
		</div> 

		<div id="users"> 
			<h2>Miembros de Mi Congreso</h2> 
			<ul class="pics">
			  <% @citizens.each do |citizen| %>
          <li><%= image_tag(citizen.profile.avatar.url(:thumb)) %></li>
        <% end %>
			</ul> 
			<ul class="links"> 
				<li><a href="#">Unete a Mi Congreso &raquo;</a></li> 
			</ul> 
		</div> 
		
		<div id="tweet"> 
			<h2>Tweet Tweet!</h2> 
			<div class="bird"> 
				<img src="/images/tweet.gif" /> 
			</div> 
			<div class="tweets"></div> 
			<ul class="links"> 
				<li><a href="#">S&iacute;guenos en twitter &raquo;</a></li> 
			</ul> 
		</div> 
	</div> 

</div> 
