<div id="rest">
  <h2 class="section">Inicio de sesión</h2>
  <div class="left">
    <div id="interna" class="propuesta session">
      <% form_tag session_path, :id => "login_form" do -%>
      <p><%= label_tag 'email', "Correo Electrónico" %><br />
      <%= text_field_tag 'email', @email, :class => "input" %></p>

      <p><%= label_tag 'password', 'Contraseña' %><br/>
      <%= password_field_tag 'password', nil, :class => "input" %></p>

      <p>
        <%= check_box_tag :remember_me, '1', @remember_me %>
        <%= label_tag :remember_me, 'Recordarme' %>
      </p>

      <p><%= submit_tag 'Iniciar Sesión', :class => "action" %></p>
      <p class="forgot clear"><%= link_to "Se me olvidó mi contraseña", forgot_form_path %></p>
      <% end -%>
    </div>

  </div>
  <div class="right"></div>
</div>


