<div id="rest">
  <h2 class="section">Inicio de sesi칩n</h2>
  <div class="left">
    <div id="interna" class="propuesta session">
      <% form_tag session_path do -%>
      <p><%= label_tag 'email', "Correo Electr칩nico" %><br />
      <%= text_field_tag 'email', @email, :class => "input" %></p>

      <p><%= label_tag 'password', 'Contrase침a' %><br/>
      <%= password_field_tag 'password', nil, :class => "input" %></p>

      <p>
        <%= check_box_tag :remember_me, '1', @remember_me %>
        <%= label_tag :remember_me, 'Recordarme' %>
      </p>

      <p><%= submit_tag 'Iniciar Sesi칩n', :class => "action" %></p>

      <% end -%>
    </div>

  </div>
  <div class="right"></div>
</div>


