<% form_for @citizen, :url => citizens_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nombre Completo" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Correo Electr칩nico" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Contrase침a" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmaci칩n de Contrase침a" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Guardar" %></p>
<% end %>
