<% content_for :jQuery do -%>
	<%= javascript_include_tag 'jquery.autocomplete' %>
<% end -%>

<% content_for :body_class do -%>
	class="user"
<% end -%>

<% form_for @citizen, :url => @citizen.new_record? ? citizens_path : citizen_path(@citizen.id) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nombre Completo" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city_name, "Ciudad" %><br />
    <%= f.text_field :city_name, :class => "city_name" %>
  </p>
  <p>
    <%= f.label :section_number, "Sección" %><br />
    <%= f.text_field :section_number %>
  </p>
  <p>
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmación de Contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= hidden_field_tag :tab, 0 %>
    <%= f.submit "Guardar" %>
  </p>
<% end %>
