<% content_for :jQuery do -%>
  <%= stylesheet_link_tag 'jquery-ui-1.7.2' %>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    $('#user_tabs').tabs({selected: <%= selected_tab(params[:tab]) %>});
  });
</script>

<div id="rest">
  
  <h2 class="section">Mi Perfil</h2>
  
  <div class="left">
    <div class="cien">
      
      <div id="user_tabs">
        <ul id="menu_perfil">
          <li><%= link_to "Datos Personales", "#user" %></li>
          <li><%= link_to "Perfil Ciudadano", "#profile" %></li>
          <li><%= link_to "Preferencias", "#notifications" %></li>
        </ul>
        <div id="user">
          <%= render :partial => 'edit_form' %>
        </div>

        <div id="profile">
          <%= render :partial => 'profile' %>
        </div>

        <div id="notifications">
          <%= render :partial => 'notifications' %>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


