<% title "Ciudadanos" %>

<%= link_to "Usuarios", users_path %>
<%= link_to "Ciudadanos", citizens_path %>

<table>
	<tr>
		<th>Nombre</th>
		<th>Correo</th>
		<th></th>
	</tr>
	<% for citizen in @citizens %>
		<tr>
			<td><%= citizen.name %></td>
			<td><%= citizen.email %></td>
			<th><%= link_to "Editar", edit_user_path(citizen) %></th>
		</tr>
	<% end %>
</table>

<p><%= link_to "New Citizen", new_citizen_path %></p>
