<% content_for :title do -%>
  <%= truncate(@bill.name, :length => 60) %>
<% end -%>

<%= render :partial => "bills/toolbar" %>

<div class="section s-70">
  <div class="box big-header">
    <h1><%= @bill.name %></h1>
    
    <div id="tabs">
      <ul>
        <li><%= link_to "Propuesta", @bill %></li>
        <li><%= link_to "Actividad", bill_actions_path(@bill) %></li>
        <li><%= link_to "Comentarios", bill_comments_path(@bill), :class => "active" %></li>
      </ul>
    </div>
    
    <div class="boxin">
      <div class="content">
        <%= render :partial => "comments/comments", :locals => {:commentable => @bill} %>
      </div>
    </div>
  </div>
</div>

<div class="section s-30">
	<div class="sidebar">
		<div class="content padded">
		  <%= render :partial => "bills/sidebar" %>
		</div>
  </div>
</div>
