<% title "Nuevo Comentario" %>

<div id="comment_form">
	<h4>Envíanos tus comentarios:</h4>
	
	<% form_for [@commentable, @comment] do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.label :title, "Título" %> <br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :comment, "Comentario" %> <br />
			<%= f.text_area :comment, :rows => 4, :cols => 40 %>
		</p>
		<p>
			<%= recaptcha_tags(:display => {:theme => "clean"}) %>
		</p>
		<p>
			<%= f.submit "Enviar Comentario" %>
		</p>
	<% end %>
</div>