<div id="rest">
  <h2 class="section">Comentarios</h2>
  
  <div class="left">
    <div class="propuestas">
      <div class="propuesta" id="interna">
        <div id="comment_form">
        	<h4>Envíanos tus comentarios:</h4>

        	<%= form_for [@commentable, @comment] do |f| %>
        		<%= render "layouts/error_messages", :target => @comment %>
            
        		<p>
        			<%= f.label :title, "Título" %> <br />
        			<%= f.text_field :title %>
        		</p>
        		<p>
        			<%= f.label :comment, "Comentario" %> <br />
        			<%= f.text_area :comment, :rows => 4, :cols => 40 %>
        		</p>
        		<p>
        			<%=raw recaptcha_tags(:display => {:theme => "clean"}) %>
        		</p>
        		<p>
        			<%= f.submit "Enviar Comentario", :class => "action" %>
        		</p>
        	<% end %>
        </div>        
      </div>
    </div>
  </div>
</div>