<% form_for @search_member do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nombre" %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :party_id, "Partido" %><br/>
    <%= f.collection_select :party_id, Party.all, :id_as_string, :name, {:include_blank => "Todos"} %>
  </p>
  <p>
    <%= f.label :state_id, "Entidad" %><br/>
    <%= f.collection_select :state_id, State.all, :id_as_string, :name, {:include_blank => "Todos"} %>
  </p>
  <p><%= f.submit "Buscar", :class => "action" %></p>
<% end %>
