<% title "Diputados encontrados" %>

<div class="left">
	<%= render :partial => "form" %>
</div>

<div class="right">
	<table>
	  <tr>
	    <th>Nombre</th>
	    <th>Partido</th>
	    <th>Estado</th>
	    <th>Distrito</th>
			<th></th>
	  </tr>
	  <% for member in @search_member.members %>
	    <tr>
	      <td><%= link_to member.name, member %></td>
	      <td><%=h member.party.abbr if member.party %></td>
	      <td><%=h member.state.name if member.state %></td>
	      <td><%=h member.district.number if member.district %></td>
	      <td> 
					<% if admin?(current_user) %>
						<%= link_to "Editar", edit_member_path(member) %>
					<% end %>
				</td>
	    </tr>
	  <% end %>
	</table>
</div>

<div class="clear"></div>
