<% title "Legislaturas" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Inicio</th>
    <th>Fin</th>
  </tr>
  <% for term in @terms %>
    <tr>
      <td><%= link_to term.name, term %></td>
      <td><%= l term.start_date, :format => :long %></td>
      <td><%= l term.end_date, :format => :long %></td>
      <td><%= link_to "Editar", edit_term_path(term) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nueva Legislatura", new_term_path %></p>
