<% form_for @assistance do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :justified %><br />
    <%= f.check_box :justified %>
  </p>
  <p>
    <%= f.label :justification %><br />
    <%= f.text_area :justification %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
