<%= form_for @user do |f| %>
  <%= render "layouts/error_messages", :target => @user %>
  
  <%= f.fields_for :notification do |n| %>
    <h4>¿Por cuáles medios deseas recibir notificaciones?</h4>
    <p>
      <%= hidden_field_tag "user[notification_attributes][email]", false, :id => "user_hidden_email" %>
      <%= check_box_tag "user[notification_attributes][email]", true, n.object.email, :id => "user_notification_attributes_email" %>
      <%= n.label :email, "Correo Electrónico" %>
    </p>
    
    <h4><%= n.label :interest_topics, "Recibir notificaciones relacionadas a:" %></h4>
    <p>
      <%= n.radio_button :interest_topics, false %> <%= n.label :interest_topics_false, "Todos los temas" %>
      <%= n.radio_button :interest_topics, true %> <%= n.label :interest_topics_true, "Mis temas de interés" %>
    </p>
  <% end %>
  
  <h4>Temas de Interés</h4>
  <p>Selecciona tus temas de interés</p>
  
  <ul id="tag_ids">
    <% ActsAsTaggableOn::Tag.all.each do |tag| %>
      <li>
        <%= link_to tag.name, "#{tag.id}", :class => "#{tag_classes(@user, tag)}" %>
        <%= hidden_field_tag "user[tag_list][]", tag.name, :disabled => !@user.tags.include?(tag) %>
      </li>
    <% end %>
  </ul>
  
  <div class="clear"></div>
  
  <p>
    <%= hidden_field_tag :tab, 2 %>
    <%= f.submit "Guardar Preferencias", :class => "action" %>
  </p>
<% end %>