<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= render "layouts/error_messages", :target => @user %>
  
  <%= f.fields_for :profile do |p| %>
    <table style="float: left;" width="500px">
      <tr>
        <td width="140px"><%= p.label :political_views, "Ideología Política" %></td>
        <td><%= p.select :political_views, Profile::POLITICAL_VIEWS %></td>
      </tr>
      <tr>
        <td><%= p.label :ocupation, "Ocupación" %></td>
        <td><%= p.select :ocupation, Profile::OCUPATIONS %></td>
      </tr>
      <tr>
        <td><%= p.label :education, "Nivel de Educación" %></td>
        <td><%= p.select :education, Profile::EDUCATION_LEVELS %></td>
      </tr>
      <tr>
        <td><%= p.label :marital_status, "Estado Civil" %></td>
        <td><%= p.select :marital_status, Profile::MARITAL_STATUSES %></td>
      </tr>
      <tr>
        <td><%= p.label :sex, "Género" %></td>
        <td>
          <%= p.radio_button :sex, true %> <%= p.label :sex_true, "Masculino" %>
          <%= p.radio_button :sex, false %> <%= p.label :sex_false, "Femenino" %>
        </td>
      </tr>
      <tr>
        <td><%= p.label :birthdate, "Fecha de Nacimiento" %></td>
        <td><%= p.date_select :birthdate, :order => [:day, :month, :year], :start_year => Date.today.year-100, :end_year => Date.today.year-10, :default => Date.today-25.years, :use_month_names => t('date.month_names') %></td>
      </tr>
      <tr>
        <td colspan="2">
          <% if p.object.avatar? %>
            <div id="avatar">
              <%= image_tag(p.object.avatar.url(:small)) %>
              <%= link_to "Cambiar Foto", "#", :id => "change_avatar" %>
            </div>
          <% end %>
            <p id="avatar_field" style="<% if p.object.avatar? %>display: none;<% end %>">
              <%= p.label :avatar, "Fotografía" %>
              <%= p.file_field :avatar %>
              <% if p.object.avatar? %>
                <%= link_to "No cambiar foto", "#", :id => "cancel_change_avatar" %>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="clear"></div>
  
  <p>
    <%= hidden_field_tag :tab, 1 %>
    <%= f.submit "Guardar Perfil", :class => "action" %>
  </p>
<% end %>