<h1>Editar Usuario</h1>

<%= form_for @user do |f| -%>
	<%= render "layouts/error_messages", :target => @user %>
	
	<p><%= f.label :name, "Nombre" %><br/>
	<%= f.text_field :name %></p>

	<p><%= f.label :email, "Correo Electrónico" %><br/>
	<%= f.text_field :email %></p>

	<p><%= f.label :password, "Contraseña" %><br/>
	<%= f.password_field :password %></p>

	<p><%= f.label :password_confirmation, "Confirmación de Contraseña" %><br/>
	<%= f.password_field :password_confirmation %></p>

	<p><%= submit_tag 'Guardar Usuario' %></p>
<% end -%>

<%= link_to "Eliminar", @user, :method => :delete, :confirm => "¿Estas seguro que lo deseas eliminar?" %>