<div class="propuesta"> 
	<div class="ribbon"> 
		<p><%= bill.date.strftime("%d") %><br /><%= SHORT_MONTHS[bill.date.month] %></p>		
	</div>
	<h3><%= link_to bill.name, bill %></h3> 
	<ul class="graficas">
		<li class="ciudadana">
		  <span>Votaci&oacute;n ciudadana:</span>
		  <div class="votos">
		    <div class="barra favor" style="width: <%= bill.citizen_votes_and_percents[3] %>%;">&nbsp; <%= show_votes?(0, bill.citizen_votes_and_percents) %></div>
			  <div class="barra contra" style="width: <%= bill.citizen_votes_and_percents[4] %>%;">&nbsp; <%= show_votes?(1, bill.citizen_votes_and_percents) %></div>
			  <div class="barra neutral" style="width: <%= bill.citizen_votes_and_percents[5] %>%;">&nbsp; <%= show_votes?(2, bill.citizen_votes_and_percents) %></div>
		  </div>
		</li>
		
		<% if bill.general_votes? %>
		  <li class="oficial">
  		  <span>Votaci&oacute;n oficial:</span>
  		  <div class="votos">
  		    <div class="barra favor" style="width: <%= bill.member_votes_and_percents[3] %>%;">&nbsp; <%= show_votes?(0, bill.member_votes_and_percents) %></div>
  			  <div class="barra contra" style="width: <%= bill.member_votes_and_percents[4] %>%;">&nbsp; <%= show_votes?(1, bill.member_votes_and_percents) %></div>
  			  <div class="barra neutral" style="width: <%= bill.member_votes_and_percents[5] %>%;">&nbsp; <%= show_votes?(2, bill.member_votes_and_percents) %></div>
  		  </div>
		  </li>
		  <% if bill.member_votes_and_percents[0] > bill.member_votes_and_percents[1] %>
		    <li class="resultado_si">Aprobada -</li> 
		  <% else %>
		    <li class="resultado_no">Rechazada -</li> 
		  <% end %>
  	<% else %>
  	  <li class="resultados"><span>Resultados Oficiales:</span> <%= es_date(bill.date) %></li>
  	<% end %>

	</ul>
	
	<ul id="bill_<%= bill.id %>" class="links">
	  <% if current_user %>
			<% if current_user.voted_on?(bill) %>
			  <li>Votaste: <%= display_vote(current_user.vote_choice(bill)) %></li>
			<% else %>
			  <li><%= link_to "Vota a favor", bill_votes_path(bill), :class => "vote si", 'data-vote' => 1, 'data-voteable' => "bill" %> </li>
			  <li><%= link_to "Vota en contra", bill_votes_path(bill), :class => "vote no", 'data-vote' => 0, 'data-voteable' => "bill" %></li>
			  <li><%= link_to "Abstente", bill_votes_path(bill), :class => "vote", 'data-vote' => -1, 'data-voteable' => "bill" %></li>
			<% end %>
  	<% else %>
	    <li class="registro"><%= link_to "Regístrate para votar!", signup_path %></li>
  	<% end %>
	</ul>
</div>