<% content_for :jQuery do -%>
	<%= javascript_include_tag 'ui.datepicker-es' %>
	<%= stylesheet_link_tag 'jquery-ui-1.7.2' %>
<% end -%>

<% form_for @bill do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, "Descripción" %><br />
    <%= f.text_area :description, :rows => 4, :cols => 60 %>
  </p>
  <p>
    <%= f.label :date, "Fecha" %>
		<%= f.text_field :formatted_date, :class => "input_text datepicker", :id => "datepicker" %>
		<%= f.text_field :date, :id => "actualDate", :style => "display: none;" %>
  </p>
	<p>
		<%= f.label :member_votes_for, "A Favor" %>
		<%= f.text_field :member_votes_for, :size => 6 %>
		
		<%= f.label :member_votes_against, "En Contra" %>
		<%= f.text_field :member_votes_against, :size => 6 %>
		
		<%= f.label :member_votes_neutral, "Abstenciones" %>
		<%= f.text_field :member_votes_neutral, :size => 6 %>
	</p>
	
	<p>Selecciona los temas de interés relacionados a la propuesta</p>
	<ul id="tag_ids">
    <% Tag.all.each do |tag| %>
      <li>
        <%= link_to tag.name, "#{tag.id}", :class => "#{tag_classes(@bill, tag)}" %>
        <%= hidden_field_tag "bill[tag_ids][]", tag.id, :disabled => !@bill.tags.include?(tag) %>
      </li>
    <% end %>
  </ul>
	
	<p>
		<%= f.check_box :publish_bill_on_social_media %> <%= f.label :publish_bill_on_social_media, "¿Desea publicar esta propuesta en medios sociales?" %>
	</p>
	<p>
		<%= f.check_box :send_emails %> <%= f.label :send_emails, "¿Desea notificar por correo a todos los ciudadanos registrados?" %>
	</p>
  <p><%= f.submit "Guardar Propuesta" %></p>
<% end %>