<% content_for :jQuery do -%>
	<%= javascript_include_tag 'ui.datepicker-es', 'jquery.autocomplete' %>
	<%= stylesheet_link_tag 'jquery-ui-1.7.2' %>
<% end -%>

<% content_for :body_class do -%>
  class="assistances"
<% end -%>

<%= form_for @bill do |f| %>
  <%= render "layouts/error_messages", :target => @bill %>
  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, "Descripción" %><br />
    <%= f.text_area :description, :rows => 14, :cols => 100, :class => "rte-zone"  %>
  </p>
  <h4>Recursos adicionales</h4>
  <div id="resources">
    <p>Nombre, URL</p>
    


    <p>
      <span><%= link_to_add_fields "Agregar Recurso", f, :resources %></span>
    </p>
  </div>

  
  <p>
    <%= f.label :status, "Status" %><br />
    <%= f.radio_button :status, "approved" %> <%= label_tag "bill_status_approved", "Aprobado" %>
    <%= f.radio_button :status, "rejected" %> <%= label_tag "bill_status_rejected", "Rechazada" %>
    <%= f.radio_button :status, "pending" %> <%= label_tag "bill_status_pending", "Pendiente" %>
  </p>
  <p>
    <%= f.label :date, "Fecha de Presentación" %>
		<%= f.text_field :formatted_date, :class => "input_text datepicker" %>
		<%= f.text_field :date, :style => "display: none;" %>
  </p>
  <p>
    <%= f.label :vote_date, "Fecha de Votación" %>
		<%= f.text_field :formatted_vote_date, :class => "input_text datepicker" %>
		<%= f.text_field :vote_date, :style => "display: none;" %>
  </p>
	<p>
		<%= f.label :member_votes_for, "A Favor" %>
		<%= f.text_field :member_votes_for, :size => 6 %>
		
		<%= f.label :member_votes_against, "En Contra" %>
		<%= f.text_field :member_votes_against, :size => 6 %>
		
		<%= f.label :member_votes_neutral, "Abstenciones" %>
		<%= f.text_field :member_votes_neutral, :size => 6 %>
	</p>
	
	<p>
	  <%= f.label :member_name, "Diputado proponente" %>
	  <%= f.text_field :member_name, :class => "member_name" %>
	</p>
	
  <p>
    <%= f.label :resolution, "Resolución" %><br />
    <%= f.text_area :resolution, :rows => 14, :cols => 100, :class => "rte-zone"  %>
  </p>
	
	<p>Selecciona los temas de interés relacionados a la propuesta</p>
	<ul id="tag_ids">
    <% ActsAsTaggableOn::Tag.all.each do |tag| %>
      <li>
        <%= link_to tag.name, "#{tag.id}", :class => "#{tag_classes(@bill, tag)}" %>
        <%= hidden_field_tag "bill[tag_list][]", tag.name, :disabled => !@bill.tags.include?(tag) %>
      </li>
    <% end %>
  </ul>
	
	<p>
		<%= f.check_box :publish_bill_on_social_media %> <%= f.label :publish_bill_on_social_media, "¿Desea publicar esta propuesta en medios sociales?" %>
	</p>
	<p>
		<%= f.check_box :send_emails %> <%= f.label :send_emails, "¿Desea notificar por correo a todos los ciudadanos registrados?" %>
	</p>
  <p><%= f.submit "Guardar Propuesta" %></p>
<% end %>

<%= javascript_include_tag 'jquery.rte', 'jquery.rte.tb' %>

<%= stylesheet_link_tag 'jquery.rte' %>

<script type="text/javascript">
$(document).ready(function() {
	var arr = $('.rte-zone').rte({
		controls_rte: rte_toolbar,
		controls_html: html_toolbar
	});
});
</script>