<% if sponsor %>
  <h4>Proponente</h4>

  <%= image_tag(sponsor.picture.url(:thumb), :height => "80px", :width => "65px") %>
  <div class="info">
    <p><%= link_to sponsor.name, sponsor %></p>
    <% if sponsor.district %>
      <p>Distrito <%= sponsor.district_number %></p>
    <% end %>
    <p><%= sponsor.state_name %></p>
    <p><%= sponsor.election %></p>
  </div>
<% end %>
  