<% title "Propuestas" %>


<% for bill in @bills %>
	<div class="bills">
		<h4><%= link_to bill.name, bill %></h4>
		<p><%= bill.date.to_s(:short) %>, <% if bill.general_votes? %>Votaciones: Favor: <%= bill.member_votes_for %> Contra: <%= bill.member_votes_against %> Abstención: <%= bill.member_votes_neutral %><% end %></p>
		<p>Ciudadanos: Favor: <%= bill.citizen_votes(true) %>, Contra: <%= bill.citizen_votes(false) %></p>
		<% if current_user %>
			<div id="bill_<%= bill.id %>">
  			<% if current_user.voted_on?(bill) %>
  			  Votaste: <%= display_vote(current_user.vote_choice(bill)) %>
  			<% else %>
  			  <%= link_to "Vota a favor", bill_votes_path(bill), :class => "vote", 'data-vote' => 1, 'data-voteable' => "bill" %> 
  			  <%= link_to "Vota en contra", bill_votes_path(bill), :class => "vote", 'data-vote' => 0, 'data-voteable' => "bill" %>
  			  <%= link_to "Abstención", bill_votes_path(bill), :class => "vote", 'data-vote' => -1, 'data-voteable' => "bill" %>
  			<% end %>
			</div>
		<% end %>
		<div>Tags: <%= bill.tag_list %>, Visitas: <%= bill.total_views %></div>
	</div>
<% end %>

<% if admin?(current_user) %>
	<p><%= link_to "Nueva Propuesta", new_bill_path %></p>
<% end %>