<% title @bill.name %>
<p>
  <%=h @bill.description %>
</p>
<p>
  <strong>Fecha:</strong>
  <%=h @bill.date.to_s(:long) %>
</p>

<h3>Votaciones totales</h3>
<p>
	A favor: <%= @bill.votes_for_by("Member") %> <br/>
	En contra: <%= @bill.votes_against_by("Member") %> <br/>
	Abstención: <%= @bill.votes_neutral_by("Member") %> <br/>
</p>

<%= link_to "Votaciones bancadas", "#", :class => "show_votes" %>
<div class="votes" style="display: none;">
	<h3>Por bancadas</h3>
	<table>
		<tr>
			<th>Partido</th>
			<th>A Favor</th>
			<th>En Contra</th>
			<th>Abstención</th>
		</tr>
		<% Party.all.each do |party| %>
			<tr>
				<td><strong><%= party.name %></strong></td>
				<td><%= @bill.votes_for_for_party(party) %></td>
				<td><%= @bill.votes_against_for_party(party) %></td>
				<td><%= @bill.votes_neutral_for_party(party) %></td>
			</tr>
		<% end %>
	</table>
</div>

<%= link_to "Votaciones por estados", "#", :class => "show_votes" %>
<div class="votes" style="display: none;">
	<h3>Por Estados</h3>
	<table>
		<tr>
			<th>Estado</th>
			<th>A Favor</th>
			<th>En Contra</th>
			<th>Abstención</th>
		</tr>
		<% State.all.each do |state| %>
			<tr>
				<td><strong><%= state.name %></strong></td>
				<td><%= @bill.votes_for_for_state(state) %></td>
				<td><%= @bill.votes_against_for_state(state) %></td>
				<td><%= @bill.votes_neutral_for_state(state) %></td>
			</tr>
		<% end %>
	</table>
</div>

<p>
	<% if admin?(current_user) %>
  	<%= link_to "Editar", edit_bill_path(@bill) %> |
  	<%= link_to "Eliminar", @bill, :confirm => 'Are you sure?', :method => :delete %> |
		<%= link_to "Editar votos", edit_bill_votes_path(@bill) %>
	<% end %>
  <%= link_to "Regresar a todas las propuestas", bills_path %>
</p>