<% content_for :title do -%>
  <%= truncate(@bill.name, :length => 60) %>
<% end -%>

<% content_for :jQuery do -%>
  <%= render :partial => "graphs_javascript" %>
<% end -%>

<% content_for :jQuery do -%>
  <%= stylesheet_link_tag 'jquery-ui-1.7.2' %>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    $('#graphs_tabs').tabs();
    <% if @bill.general_votes? %>
      $('#graphs_tabs').tabs("option", "selected", 2);
    <% else %>
      $('#graphs_tabs').tabs("option", "disabled", [1,2]);
    <% end %>
  });
</script>

<%= render :partial => "toolbar" %>

<div class="section s-70">
  <div class="box big-header">
    <h1><%= @bill.name %></h1>
    
    <div id="tabs">
      <ul>
        <li><%= link_to "Propuesta", @bill, :class => "active" %></li>
        <li><%= link_to "Actividad", bill_actions_path(@bill) %></li>
        <li><%= link_to "Comentarios", bill_comments_path(@bill) %></li>
      </ul>
    </div>
    
    <div class="boxin">
      <div class="content">
        
        <div id="sponsor_and_activity">
          <div id="sponsor">
            <%= render :partial => "sponsor", :locals => {:sponsor => @bill.sponsor} %>
          </div>
          
          <div id="activity">
            <%= activity_bar(@bill) %>
            
            <% if @latest_action %>
              <div class="last">
                <span><%= l @lastest_action.date %></span>
              </div>
            <% end %>
          </div>
        </div>
        
  			<div id="description">
  			  <h4>Descripción</h4>
          <%=raw @bill.description %>
        </div>

        <div class="clear"></div>

        
        <div id="graphs_tabs">
          <ul id="jquery_tabs">
            <li><%= link_to "Ciudadana", "#citizens", :class => "tab" %></li>
            <li><%= link_to "Partidos", "#parties", :class => "tab" %></li>
            <li><%= link_to "Oficial", "#official", :class => "tab" %></li>
          </ul>
          
          <div id="citizens">
            <h3>Votaciones ciudadanas por Estado</h3>
            <div id="citizen_votes_per_state" style="width: 600px; height: 400px;"></div>
          </div>

          <div id="parties">
            <h3>Votaciones por Partido</h3>
            <div id="votes_per_party" style="width: 600px; height: 200px;"></div>
          </div>

          <div id="official">
            <h3>Votaciones oficiales</h3>
            <div id="official_votes" style="width: 600px; height: 300px;"></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="section s-30">
	<div class="sidebar">
		<div class="content">
		  <%= render :partial => "bills/sidebar" %>
		</div>
  </div>
</div>
