<% title @news.title %>

<div><%=h @news.date %>, Fuente: <%=h @news.source %></div>

<p>Votos: Favor: <%= @news.citizen_votes(true) %>, Contra: <%= @news.citizen_votes(false) %></p>
<% if current_user %>
	<div id="news_<%= @news.id %>">
		<% if current_user.voted_on?(@news) %>
		  Votaste: <%= current_user.vote_choice(@news) %>
		<% else %>
		  <%= link_to "Vota a favor", news_votes_path(@news), :class => "vote", 'data-vote' => 1, 'data-voteable' => "news" %> 
		  <%= link_to "Vota en contra", news_votes_path(@news), :class => "vote", 'data-vote' => 0, 'data-voteable' => "news" %>
		<% end %>
	</div>
<% end %>

<div class="news_body">
	<%= image_tag(@news.photo.url(:medium), :class => "photo") if @news.photo? %>
	<%= @news.body %>
</div>


<p>
	<% if admin?(current_user) %>
	  <%= link_to "Editar", edit_news_path(@news) %> |
	  <%= link_to "Eliminar", @news, :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>

  <%= link_to "Regresar a noticias", news_index_path %>
</p>

<h3>Comentarios (<%= @news.comments.size %>)</h3>
<div class="comments">
	<% for comment in @news.comments %>
		<div class="comment">
			<h4><%=h comment.title %></h4>
			<p><%=h comment.comment %></p>
			<% if admin?(current_user) %>
				<%= link_to "Eliminar", news_comment_path(@news, comment), :method => :delete, :confirm => "¿Esta seguro que lo desea eliminar?" %>
			<% end %>
		</div>
	<% end %>
</div>


<div id="comment_form">
	<h4>Envíanos tus comentarios:</h4>
	
	<% form_for [@news, Comment.new] do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.label :title, "Título" %> <br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :comment, "Comentario" %> <br />
			<%= f.text_area :comment, :rows => 4, :cols => 40 %>
		</p>
		<p>
			<%= recaptcha_tags(:display => {:theme => "clean"}) %>
		</p>
		<p>
			<%= f.submit "Enviar Comentario" %>
		</p>
	<% end %>
</div>