<% content_for :title do -%>
  <%= truncate(@news.title, :length => 60) %>
<% end -%>

<%= render :partial => "toolbar" %>

<div id="rest">
  <h2 class="section">Noticias</h2>
  
  <div class="left">
    <div class="propuestas">
      <div id="interna" class="propuesta">
        <h1><%= @news.title %></h1>
        
        <% if current_user %>
        	<div id="news_<%= @news.id %>" class="like">
        		<%= link_to_like(@news, current_user) %>
        	</div>
        <% end %>
        
        <% if @news.tags.any? %>
          <ul class="tags">
            <% @news.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        <% end %>
        
        <% if @news.photo? %>
          <div class="main_image"><%= @news.photo.url(:medium) %></div>
        <% end %>
        
        <p><%=raw @news.body %></p>
        
        <div class="all_comments">
          <h3>Comentarios (<%= @news.comments.size %>)</h3>
          <div class="comments">
          	<% for comment in @news.comments %>
          		<div class="comment">
          			<h4><%=h comment.title %></h4>
          			<p><%=h comment.comment %></p>
          			<% if can? :manage, News %>
          				<%= link_to "Eliminar", news_comment_path(@news, comment), :method => :delete, :confirm => "¿Esta seguro que lo desea eliminar?" %>
          			<% end %>
          		</div>
          	<% end %>
          </div>
          <div id="comment_form">
            <h4>Envíanos tus comentarios:</h4>
            
            <p>Para comentar sobre esta noticia es necesario que te registres en mi congreso.</p>
            <% if current_user %>
            	<%= form_for [@news, Comment.new] do |f| %>
            		<%= render "layouts/error_messages", :target => Comment.new %>
            		<p>
            			<strong><%= f.label :title, "Título" %></strong> <br />
            			<%= f.text_field :title, :class => "comment_input" %>
            		</p>
            		<p>
            			<strong><%= f.label :comment, "Comentario" %></strong> <br />
            			<%= f.text_area :comment, :rows => 6, :cols => 50, :class => "comment_input" %>
            		</p>
            		<p>
            			<%=raw recaptcha_tags(:display => {:theme => "clean"}) %>
            		</p>
            		<p>
            			<%= f.submit "Enviar Comentario", :class => "action" %>
            		</p>
            	<% end %>
            <% else %>
              <%= link_to "¡Regístrate y opina!", signup_path, :class => "action" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="right">
    <div id="lateral" class="refinador">
      <h1>Busca noticias</h1>
      
      <%= form_tag news_index_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
        </p>
        <p>
          <%= submit_tag "Buscar", :class => "action" %>
        </p>
      <% end %>
    </div>
    
    <div id="noticias">
			<h2>Noticias Relacionadas</h2>
			<ul class="list">
			  <% @related_news.each do |news| %>
  				<li>
  					<%= image_tag(news.photo.url(:thumb)) %>
  					<h3><%= link_to truncate(news.title, :length => 75), news %></h3>
  				</li>
  			<% end %>
			</ul>
		</div>
  </div>
</div>




