<%= form_tag contacts_path, :id => "contacts_form" do %>
  <h2>Invita a los contactos de tu cuenta de correo</h2>
  <p>
    <%= radio_button_tag :provider, "gmail", params[:provider] == "gmail" ? true : false %> <%= label_tag :provider_gmail, image_tag("gmail.png") %>
    <%= radio_button_tag :provider, "hotmail", params[:provider] == "hotmail" ? true : false %>  <%= label_tag :provider_hotmail, image_tag("hotmail.png") %>
    <%= radio_button_tag :provider, "yahoo", params[:provider] == "yahoo" ? true : false %>  <%= label_tag :provider_yahoo, image_tag("yahoo.png") %>
  </p>
  <p>
    <strong><%= label_tag :login, "Nombre de Usuario o Correo Electrónico" %></strong> <br/>
    <%= text_field_tag :login, params[:login], :class => "texto", :id => "email_login" %>
  </p>
  <p>
    <strong><%= label_tag :password, "Contraseña" %></strong> <br/>
    <%= password_field_tag :password, nil, :class => "texto" %>
  </p>
  <p>
    Mi Congreso no almacenará tu contraseña
  </p>
  <p>
    <%= submit_tag "Selecciona a quien enviar", :class => "action" %>
  </p>
<% end %>

<div id="loading" class="loading">
  <%= image_tag("white_spinner.gif", :class => "contact_spinner") %>
  <p>Estamos cargando tus contactos...</p>
</div>

<div id="sending" class="loading">
  <%= image_tag("white_spinner.gif", :class => "contact_spinner") %>
  <p>Estamos enviando tus invitaciones...</p>
</div>

<div id="success">
  <%= image_tag("success.png") %>
  <h2>¡Muchas Gracias!</h2>
  <p>Las invitaciones se enviaron correctamente</p>
</div>

<div id="contacts_list">

</div>