<% form_tag contacts_path do %>
  <h2>Invita a los contactos de tu cuenta de correo</h2>
  <p>
    <%= radio_button_tag :provider, "gmail", params[:provider] == "gmail" ? true : false %> <%= label_tag :provider_gmail, image_tag("gmail.png") %>
    <%= radio_button_tag :provider, "hotmail", params[:provider] == "hotmail" ? true : false %>  <%= label_tag :provider_hotmail, image_tag("hotmail.png") %>
    <%= radio_button_tag :provider, "yahoo", params[:provider] == "yahoo" ? true : false %>  <%= label_tag :provider_yahoo, image_tag("yahoo.png") %>
  </p>
  <p>
    <strong><%= label_tag :login, "Nombre de Usuario o Correo Electrónico" %></strong> <br/>
    <%= text_field_tag :login, params[:login], :class => "texto" %>
  </p> 
  <p>
    <strong><%= label_tag :password, "Contraseña" %></strong> <br/>
    <%= password_field_tag :password, nil, :class => "texto" %>
  </p>
  <p>
    MiCongreso no almacenará tu contraseña
  </p>
  <p>
    <%= submit_tag "Enviar invitación", :class => "action" %>
  </p>
<% end %>