<% title "Absence" %>

<p>
  <strong>Justified:</strong>
  <%=h @absence.justified %>
</p>
<p>
  <strong>Justification:</strong>
  <%=h @absence.justification %>
</p>

<p>
  <%= link_to "Edit", edit_absence_path(@absence) %> |
  <%= link_to "Destroy", @absence, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", absences_path %>
</p>
