<tr class="fields">
	<td>
	  <%= f.text_field :member_name, :class => "member_name" %>
	  <% if f.object.new_record? %>
	    <%= hidden_field_tag "sitting[absences_attributes][new_absences][assisted]", 0, :id => "sitting_absences_attributes_new_absences_assisted" %>
	  <% else %>
	    <%= f.hidden_field :assisted %>
	  <% end %>
	</td>
	<td><%= f.check_box :justified, :class => "justified" %></td>
	<td><%= f.text_area	:justification, :cols => 30, :rows => 2, :style => display?(f.object.justified) %></td>
	<td>
		<%= link_to_remove_fields("Eliminar", f) %>
	</td>
</tr>