<tr>
  <td scope="col" style="background-color:#FFF;"><img src="<%= "#{$global_url}/images/votacion.jpg" %>" width="700" height="40" alt="Votación de la Propuesta" /></td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF; padding:25px;">
  	<h1 style="font-size:18px; color:#2E2013; margin: 0px; padding:0px; text-align: left"><%= @bill.name %></h1>
    <p style="text-align: left"><%= @bill.description %></p>
    
    <p style="text-align: left;"><strong>Votación Oficial:</strong></p>
    
    <div style="width: 429px;color: #fff; height: 24px; margin-bottom: 10px;">
      <div class="barra favor" style="background: #81A05A; float: left;padding: 2px 0px; width: <%= @bill.member_votes_and_percents[3] %>%;">&nbsp; <%= show_votes?(0, @bill.member_votes_and_percents) %></div>
      <div class="barra contra" style="background: #CC5477; float: left;padding: 2px 0px; width: <%= @bill.member_votes_and_percents[4] %>%;">&nbsp; <%= show_votes?(1, @bill.member_votes_and_percents) %></div>
      <div class="barra neutral" style="color: #6D6A61;background: #CACAC2; float: left;padding: 2px 0px; width: <%= @bill.member_votes_and_percents[5] %>%;">&nbsp; <%= show_votes?(2, @bill.member_votes_and_percents) %></div>
    </div>

    <div style="width: 429px;color: #fff; height: 24px; margin-bottom: 10px; clear: both;">
      <div class="barra favor" style="background: #81A05A; float: left;padding: 2px 0px; width: 24px;">&nbsp;</div> <div style="float: left;padding: 2px 0px; color: #000; padding: 0 6px;">A Favor</div>
      <div class="barra contra" style="background: #CC5477; float: left;padding: 2px 0px; width: 24px;">&nbsp;</div> <div style="float: left;padding: 2px 0px; color: #000; padding: 0 6px;">En Contra</div>
      <div class="barra neutral" style="color: #6D6A61;background: #CACAC2; float: left;padding: 2px 0px; width: 24px;">&nbsp;</div> <div class="barra leyend">Abstenciones</div>
    </div>

    <p style="clear: both; text-align: left;">Ir a ver la propuesta: <%= link_to bill_url(@bill), bill_url(@bill), :style => "text-decoration: underline; color: #B63D46;" %></p>
    
  </td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF;"><%= link_to image_tag("#{$global_url}/images/twitter.jpg", :alt => "Síguenos en Twitter »;", :width => "700", :height => "68", :border => "none"), "http://twitter.com/micongresomx" %></td>
</tr>