<tr>
  <td scope="col" style="background-color:#FFF;"><img src="<%= "#{$global_url}/images/nueva_propuesta.jpg" %>" width="700" height="40" alt="Nueva propuesta" /></td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF; padding:25px; text-align: left">
  	<h1 style="font-size:18px; color:#2E2013; margin: 0px; padding:0px; text-align: left"><%= @bill.name %></h1>
    <p style="text-align: left;"><%= @bill.description %></p>
    <%= link_to image_tag("#{$global_url}/images/participa.png", :style => "border: none;", :width => "239", :height => "45"), @bill %>
  </td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF;"><%= link_to image_tag("#{$global_url}/images/twitter.jpg", :alt => "Síguenos en Twitter »;", :width => "700", :height => "68", :border => "none"), "http://twitter.com/micongresomx" %></td>
</tr>