<%= form_for [:admin, @state] do |f| %>
  <%= render "layouts/error_messages", :target => @state %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :abbr %><br />
    <%= f.text_field :abbr %>
  </p>
  <p>
    <%= f.label :short2 %><br />
    <%= f.text_field :short2 %>
  </p>
  <p>
    <%= f.label :short3 %><br />
    <%= f.text_field :short3 %>
  </p>
  <p><%= f.submit "Guardar Estado" %></p>
<% end %>
