<% title "Estados / Entidades" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Abreviación</th>
		<th>2 letras</th>
		<th>3 letras</th>
  </tr>
  <% for state in @states %>
    <tr>
      <td><%=h state.name %></td>
      <td><%=h state.abbr %></td>
			<td><%=h state.short2 %></td>
			<td><%=h state.short3 %></td>
      <td><%= link_to "Editar", edit_admin_state_path(state) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo Estado", new_admin_state_path %></p>
