<% if logged_in? %>
	<div id="menu">
		<ul>
			<li><%= link_to "Usuarios", users_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
			<li><%= link_to "Diputados", members_path %></li>
			<li><%= link_to "Partidos", parties_path %></li>
			<li><%= link_to "Estados", states_path %></li>
		</ul>
	</div>
<% end %>