<div id="nav">
  <ul>
    <% if current_user && current_user.admin? %>
		  <li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Usuarios", users_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Partidos", parties_path %></li>
			<li><%= link_to "Estados", states_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Legislaturas", terms_path %></li>
			<li><%= link_to "Sesiones", sittings_path %></li>
			<li><%= link_to "Temas de Interés", tags_path %></li>
    <% else %>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
			<li><%= link_to "Nosotros", about_us_path %></li>
    <% end %>
    
    <% if current_user %>
		  <li class="email"><%= link_to "Mi perfil", edit_citizen_path(current_user) %></li>
		  <li class="login"><%= link_to "Salir", logout_path %></li> 
		<% else %>
		  <li class="login">
		    <%= link_to "Inicia Sesión", login_path, :id => "signin_link", :class => "closed" %>
		    <div id="login">
					<%= form_for UserSession.new, :url => user_session_path, :html => {:id => "login_form"} do |f| %>
						<p>
							<%= f.label :email, "Correo Electrónico:" %><br/>
							<%= f.text_field :email, :class => "input" %>
						</p>
						<p>
							<%= f.label :password, "Contraseña:" %><br/>
							<%= f.password_field :password, :class => "input" %>
						</p>
						<p>
							<%= f.check_box :remember_me %> <%= f.label :remember_me, "Recuerdame" %>
						</p>

					  <%= f.submit "Iniciar Sessión", :class => "action" %>
						<p class="forgot clear"><%= link_to "Se me olvidó mi contraseña", new_password_reset_path %></p>
					<% end %>
		    </div>
		  </li>
		<% end %>
	</ul>
</div>