<% if logged_in? && current_user.admin? %>
	<div id="menu">
		<ul>
		  <li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Usuarios", users_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Partidos", parties_path %></li>
			<li><%= link_to "Estados", states_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Sesiones", sittings_path %></li>
			<li><%= link_to "Temas de Interés", tags_path %></li>
		</ul>
	</div>
<% else %>
	<div id="menu">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
		</ul>
	</div>
<% end %>