<div id="nav">
  <ul>
    <% if logged_in? && current_user.admin? %>
		  <li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Usuarios", users_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Partidos", parties_path %></li>
			<li><%= link_to "Estados", states_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Sesiones", sittings_path %></li>
			<li><%= link_to "Temas de Interés", tags_path %></li>
    <% else %>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Diputados", new_search_member_path %></li>
			<li><%= link_to "Propuestas", bills_path %></li>
			<li><%= link_to "Noticias", news_index_path %></li>
    <% end %>
    
    <% if logged_in? %>
		  <li class="email"><%= link_to "Mi perfil", edit_citizen_path(current_user) %></li>
		  <li class="login"><%= link_to "Salir", logout_path %></li> 
		<% else %>
		  <li class="login">
		    <%= link_to "Inicia Sesi&oacute;n &raquo;", login_path, :id => "signin_link", :class => "closed" %>
		    <div id="login">
		      <% form_tag session_path, :id => "login_form" do -%>
            <p>
              <%= label_tag :email, "Correo Electrónico:" %><br />
              <%= text_field_tag :email, @email, :class => "input" %>
            </p>
            <p>
              <%= label_tag :password, "Contraseña:" %><br/>
              <%= password_field_tag :password, nil, :class => "input" %>
            </p>
            <p>
              <%= check_box_tag :remember_me, '1', @remember_me %>
              <%= label_tag :remember_me, 'Recuerdame' %>
            </p>
            <p><%= submit_tag 'Iniciar Sesión', :class => "action" %></p>
            <p class="forgot clear"><%= link_to "Se me olvidó mi contraseña", forgot_form_path %></p>
          <% end %>
		    </div>
		  </li>
		<% end %>
	</ul>
</div>