<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'diputadovirtual' %>
    <%= yield(:head) %>

		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
		<%= yield(:jQuery) %>
		<%= javascript_include_tag 'application' %>
		
  </head>
  <body <%= yield(:body_class) %>>

    <div id="header"> 
    	<div class="contenido"> 
    		<div id="logo">
    		  <%= link_to image_tag("logo.gif"), root_path %>
    		</div> 
    		<%= render :partial => "layouts/menu" %>
    	</div>
    </div>
		
    <div id="container">
      
      <div id="main"> 
      	<div class="contenido">
      	  
      	  <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>

          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
      	  
          <%= yield %>
        </div>
      </div>
    </div>
    
  	<div id="footer"> 
  		<div class="contenido">
  		  <div id="parties">
        	<h4>Partidos</h4>

        	<%= Party.all.collect {|party| link_to party.name, group_search_members_path(:party_id => party.id )}.join(', ')  %>
        </div>
  		</div> 
  	</div>
  </body>
</html>
