<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Mi Congreso") %></title>
    <%= stylesheet_link_tag 'diputadovirtual' %>
    <%= yield(:head) %>

		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
		<%= yield(:jQuery) %>
		<%= javascript_include_tag 'application' %>
		
  </head>
  <body <%= yield(:body_class) %>>

    <div id="header"> 
    	<div class="contenido"> 
    		<div id="logo">
    		  <%= link_to image_tag("logo.gif"), root_path %>
    		</div> 
    		<%= render :partial => "layouts/menu" %>
    	</div>
    </div>
		
    <div id="container">
      
      <div id="main"> 
      	<div class="contenido">
      	  
      	  <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>

          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
      	  
          <%= yield %>
        </div>
      </div>
    </div>
    
  	<div id="footer"> 
  		<div class="contenido">
  		  <div id="parties">

        </div>
  		</div> 
  	</div>
  	
  	<script type="text/javascript">
      var uservoiceOptions = {
        /* required */
        key: 'micongresomx',
        host: 'micongresomx.uservoice.com', 
        forum: '50993',
        showTab: true,  
        /* optional */
        alignment: 'left',
        background_color:'#696055', 
        text_color: 'white',
        hover_color: '#b63d46',
        lang: 'es'
      };

      function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>
  	
  	<script type="text/javascript">      
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script type="text/javascript"> 
      try{
      var pageTracker = _gat._getTracker("UA-15807435-1");
      pageTracker._trackPageview();
      } catch(err) {}
  	</script>
  	
  </body>
</html>
