<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= "Mi Congreso" %></title>
		<style type="text/css">
		  body {margin: 0; padding: 0;}
		</style>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#D7D5D2;">
      <tr>
        <th scope="col">
        	<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight:normal">
          <%= yield(:online) %>
          <tr>
            <td scope="col"><img src="<%= $global_url %>/images/sombra1.gif" width="700" height="14" /></td>
          </tr>
          <tr>
            <td scope="col" style="background-color:#FFF;"><a href="<%= $global_url %>"><img src="<%= $global_url %>/images/mi_congreso.gif" width="700" height="112" alt="Mi Congreso" style="border:none;"/></a></td>
          </tr>
          <%= yield %>
          <tr>
            <td scope="col" style="background-color:#FFF; padding:15px 15px 25px 15px;">
            	<p style="color:#999; font-size:11px; text-align: left;">No pertenecemos a ningún partido u organización política, simplemente somos un grupo 
            	  de jóvenes entusiastas que buscamos aportar un granito de arena en la democracia de nuestro país. El proyecto es sin fines 
            	  de lucro y bajo ninguna ideología política, buscamos simplemente brindar un espacio de comunicación sencillo y efectivo 
            	  para la construcción de un mejor y más abierto país.<br /><br />
        	  
            	  Si no desear recibir nuestro boletín informativo <a href="#" style="color:#999;">haz click aqui</a></p></td>
          </tr>
          <tr>
            <td scope="col"><img src="<%= $global_url %>/images/sombra2.jpg" width="700" height="39" /></td>
          </tr>
        </table></th>
      </tr>
    </table>
  </body>
</html>