<% form_for @member, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :term_id, "Legislatura" %><br />
    <%= f.collection_select :term_id, Term.all, :id, :name %>
  </p>
  <p>
    <%= f.label :status, "Status" %><br />
    <%= f.select :status, [["Activo", "active"], ["Inactivo", "inactive"]] %>
  </p>
  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :party_id, "Partido" %><br />
    <%= f.collection_select :party_id, Party.all, :id_as_string, :name %>
  </p>
  <p>
    <%= f.label :commission, "Comisión" %><br />
    <%= f.text_field :commission %>
  </p>
  <p>
    <%= f.label :election, "Tipo de elección" %><br />
    <%= f.radio_button :election, "Mayoría Relativa", :checked => true %> <%= f.label :election_mayoría_relativa, "Mayoría Relativa" %>
		<%= f.radio_button :election, "Representación Proporcional" %> <%= f.label :election_representación_proporcional, "Representación Proporcional" %>
  </p>
  <p>
    <%= f.label :state_id, "Entidad" %><br />
    <%= f.collection_select :state_id, State.all, :id_as_string, :name %>
  </p>
  <p style="<%= show_district_field?(@member) %>">
    <%= f.label :district_id, "Distrito" %><br />
    <% if @member.new_record? %>
      <%= f.select :district_id, [], {:prompt => "Selecciona la entidad", :disabled => true} %>
    <% else %>
      <%= f.select :district_id, @member.state.districts.map{|d| [d.number, d.id]}, {:prompt => "Selecciona la entidad"} %>
    <% end %>
  </p>
  <p>
    <%= f.label :birthdate, "Fecha de Nacimiento" %><br />
    <%= f.date_select :birthdate, :start_year => Time.now.year - 80, :end_year => Time.now.year - 20, :default => Date.today - 40.years %>
  </p>
  <p>
    <%= f.label :birthplace, "Lugar de Nacimiento" %><br />
    <%= f.text_field :birthplace %>
  </p>
	<p>
		<%= f.label :picture %> <br />
		<%= f.file_field :picture %>
	</p>
  <p>
    <%= f.label :substitute, "Suplente" %><br />
    <%= f.text_field :substitute %>
  </p>
  <p><%= f.submit "Guardar Diputado" %></p>
<% end %>
