<% content_for :jQuery do -%>
  <%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<% end -%>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery.fancybox-1.3.1' %>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    var height = <%= message_form_height(current_user) %>
    
    $("a.send_message").fancybox({
    	'type' : 'iframe',
    	'height': height,
    	'width': 580
    });
  });
</script>

<div class="box">
  <h4>Datos Personales</h4>
  
  <% if @member.birthplace %>
    <div>
      <p>Lugar de Nacimiento:</p>
      <p><%= @member.birthplace %></p>
    </div>
  <% end %>
  
  <% if @member.birthdate %>
    <div>
      <p>Fecha de Nacimiento:</p>
      <p><%= l @member.birthdate, :format => :long %></p>
    </div>
  <% end %>
</div>

<div class="box">
  <h4>Contacto</h4>
  
  <div>
    <p>Correo Electrónico</p>
    <p><%= @member.email %></p>
  </div>
  
  <%= link_to "Envíale un mensaje", new_member_message_path(@member), :class => "action send_message iframe" %>
  <div class="clear"></div>
</div>

<% unless @member.twitter_user.blank? %>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 6000,
    width: 238,
    height: 230,
    theme: {
      shell: {
        background: '#cccbc4',
        color: '#630630'
      },
      tweets: {
        background: '#ECECE9',
        color: '#2e2013',
        links: '#b63d45'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('<%= @member.twitter_user %>').start();
  </script>
<% end %>
