<% title "Diputados" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Partido</th>
    <th>Estado</th>
    <th>Distrito</th>
		<th></th>
  </tr>
  <% for member in @members %>
    <tr>
      <td><%= link_to member.name, member %></td>
      <td><%=h member.party.abbr %></td>
      <td><%=h member.state.name %></td>
      <td><%=h member.district %></td>
      <td><%= link_to "Editar", edit_member_path(member) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo Diputado", new_member_path %></p>
