<% title @member.name %>


<%= image_tag(@member.picture.url(:medium)) %>
<p>
  <strong>Correo Electrónico:</strong>
  <%=h @member.email %>
</p>
<p>
  <strong>Partido:</strong>
  <%=h @member.party_name %>
</p>
<p>
  <strong>Comisión:</strong>
  <%=h @member.commission %>
</p>
<p>
  <strong>Estado:</strong>
  <%=h @member.state_name %>
</p>
<p>
  <strong>Distrito:</strong>
  <%=h @member.district %>
</p>
<p>
  <strong>Cabecera:</strong>
  <%=h @member.head %>
</p>
<p>
  <strong>Tipo de Elección:</strong>
  <%=h @member.election %>
</p>
<p>
  <strong>Fecha de Nacimiento:</strong>
  <%=h @member.birthdate %>
</p>
<p>
  <strong>Lugar de Nacimiento:</strong>
  <%=h @member.birthplace %>
</p>
<p>
  <strong>Suplente:</strong>
  <%=h @member.substitute %>
</p>

<div id="message">
	<h3>Enviar mensaje a diputado</h3>
	
	<% form_for [@member, @message] do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.text_area :text, :rows => 6 %>
		</p>
		<p>
			<%= f.label :name, "Nombre" %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :email, "Correo electrónico" %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= recaptcha_tags(:display => {:theme => "clean"}) %>
		</p>
		<p>
			<%= f.submit "Enviar mensaje" %>
		</p>
	<% end %>
</div>

<% if admin?(current_user) %>
	<p>
	  <%= link_to "Editar", edit_member_path(@member) %> |
	  <%= link_to "Regresar a diputados", members_path %> |
		<%= link_to "Mensajes a diputado", member_messages_path(@member) %>
		<%= link_to "Eliminar", @member, :method => :delete, :confirm => "¿Estás seguro que lo deseas eliminar?" %>
	</p>
<% end %>
