<%= content_for :toolbar do -%>
  <% if can? :manage, Member %>
    <div id="toolbar">
  	  <%= link_to "Editar", edit_member_path(@member) %> |
  	  <%= link_to "Regresar a diputados", members_path %> |
  		<%= link_to "Mensajes a diputado", member_messages_path(@member) %>
  		<%= link_to "Eliminar", @member, :method => :delete, :confirm => "¿Estás seguro que lo deseas eliminar?" %>
    </div>
  <% end %>
<% end -%>

<% content_for :title do -%>
  <%= @member.name %>
<% end -%>

<div class="section s-70">
  <div class="box big-header">
    <div class="dipufoto">
      <div class="partido"><%= image_tag(@member.party.abbr.downcase+".png", :height => 30, :width => 30) %></div>
      <%= image_tag(@member.picture.url(:thumb)) %>
    </div>
    <h1 class="slim"><%= @member.name %></h1>
    <ul class="details">
      <li><%= @member.party.abbr %> | </li>
      <li><%= @member.state_name %> |</li>
      <li><%= @member.election %></li>
    </ul>
    
    <h5>Suplente</h5>
    <h5><%=h @member.substitute %></h5>
    
    <div class="boxin">
      <div class="content">
        
        <div id="proposed_bills">
          <h3>Propuestas Presentadas <%= sponsored_bills_stats(@member) %></h3>
          
          <% if @bills.any? %>
            <table class="resultados" cellspacing="0" cellpadding="0" border="0" width="100%">
          	  <tr>
                <th>Propuesta</th>
          	  </tr>
              <% @bills.each do |bill| %>
                <tr>
            	    <td><%= link_to(truncate(bill.name, :length => 100), bill) %></td>
          	    </tr>
              <% end %>
            </table>
          <% else %>
            <h5>No ha presentado propuesta alguna</h5>
          <% end %>
          
        </div>
        
        <div id="votaciones">
        	<h3>Votaciones Recientes</h3>
        	<table class="resultados" cellspacing="0" cellpadding="0" border="0" width="100%">
        	  <tr>
              <th>Propuesta</th>
              <th width="120">Fecha</th>
              <th width="70">Voto</th>
        	  </tr>
        	  <% @votes.each do |vote| %>
        	    <tr>
          	    <td><%= link_to(truncate(vote.voteable.name, :length => 60), vote.voteable) %></td>
          	    <td><%= l vote.created_at.to_date, :format => :short %></td> 
          	    <td><span class="<%= member_vote_class(vote).downcase %>"><%= member_vote(vote) %></span></td>
        	    </tr>
          	<% end %>
        	</table>
        </div>
        
        <div id="assistances">
          <h3>Asistencia a sesiones <span><%= total_assistances(@member) %></span></h3>
          
          <table class="resultados" cellspacing="0" cellpadding="0" border="0" width="100%">
        	  <tr>
              <th width="120">Sesión</th>
              <th width="70">Assistencia</th>
        	  </tr>
        	  <% @assistances.each do |assistance| %>
        	    <tr>
          	    <td><%= assistance.sitting.date %></td> 
          	    <td><%= display_assistance(assistance) %></td>
        	    </tr>
          	<% end %>
        	</table>
        </div>
                
      </div>
    </div>
  </div>
</div>

<div class="section s-30">
	<div class="sidebar">
		<div class="content padded">
		  <%= render :partial => "members/sidebar" %>
		</div>
  </div>
</div>
