<% content_for :title do -%>
  <%= @member.name %>
<% end -%>

<div id="rest">
  <h2 class="section">Diputados</h2>
  
  <div class="left">
    <div class="propuestas">
      <div id="interna" class="propuesta">
        <div class="dipufoto">
          <div class="partido"><%= image_tag(@member.party.abbr.downcase+".png") %></div>
          <%= image_tag(@member.picture.url(:medium)) %>
        </div>
        <h1><%= @member.name %></h1>
        <p>
          <strong>Correo Electrónico:</strong>
          <%=h @member.email %> <br/>

          <strong>Partido:</strong>
          <%=h @member.party_name %> <br/>

          <strong>Comisión:</strong>
          <%=h @member.commission %> <br/>

          <strong>Estado:</strong>
          <%=h @member.state_name %> <br/>
        
          <% if @member.district %>
              <strong>Distrito:</strong>
              <%=h @member.district.number %> <br/>

              <strong>Cabecera:</strong>
              <%=h @member.district.head %> <br/>
          <% end %>
          
          <strong>Tipo de Elección:</strong>
          <%=h @member.election %> <br/>

          <strong>Fecha de Nacimiento:</strong>
          <%=h @member.birthdate %> <br/>

          <strong>Lugar de Nacimiento:</strong>
          <%=h @member.birthplace %> <br/>

          <strong>Suplente:</strong>
          <%=h @member.substitute %> <br/>
        </p>
        
        <p class="faltas">
          <strong>Asistencias:</strong> <%= @member.assistances.present.count %> de <%= @member.assistances.count %> (Faltas <%= number_to_percentage((@member.absences.count.to_f/@member.assistances.count.to_f)*100, :precision => 0) %>)
        </p>
        
        <div class="clear"></div>
        
        <div id="votaciones">
        	<h3>Últimas votaciones</h3>
        	<table class="resultados" cellspacing="0" cellpadding="0" border="0" width="100%">
        	  <tr>
              <th>Propuesta</th>
              <th width="120">Fecha</th>
              <th width="70">Voto</th>
        	  </tr>
        	  <% @bills.each do |bill| %>
        	    <% vote = @member.vote_object(bill) %>
        	    <tr>
          	    <td><%= link_to(truncate(bill.name, :length => 80), bill) %></td>
          	    <td><%= es_date(bill.vote_date) %></td>
          	    <td><span class="<%= member_vote_class(vote).downcase %>"><%= member_vote(vote) %></span></td>
        	    </tr>
          	<% end %>
        	</table>
        </div>
        
        <% if admin?(current_user) %>
        	<p>
        	  <%= link_to "Editar", edit_member_path(@member) %> |
        	  <%= link_to "Regresar a diputados", members_path %> |
        		<%= link_to "Mensajes a diputado", member_messages_path(@member) %>
        		<%= link_to "Eliminar", @member, :method => :delete, :confirm => "¿Estás seguro que lo deseas eliminar?" %>
        	</p>
        <% end %>
        
        <div id="comment_form" class="cien">
        	<h3>Enviar mensaje a diputado</h3>

        	<% form_for [@member, @message] do |f| %>
        		<%= f.error_messages %>
            
            <% if current_user %>
              <p>
                <%= f.hidden_field :name %>
                <%= f.hidden_field :email %>
              </p>
            <% else %>
          		<div style="float: left; width: 50%; margin-right: 10px">
          		  <p>
            			<strong><%= f.label :name, "Nombre" %></strong><br />
            			<%= f.text_field :name, :class => "texto" %>
          			</p>
          		</div>
          		<div style="float: left; width: 40%">
          		  <p>
          		    <strong><%= f.label :email, "Correo electrónico" %></strong><br />
            			<%= f.text_field :email, :class => "texto" %>
          		  </p>
          		</div>
          	<% end %>
          	<p>
        			<%= f.text_area :text, :rows => 6, :class => "comment_input texto" %>
        		</p>
        		<p style="clear: both;">
        			<%= recaptcha_tags(:display => {:theme => "clean"}) %>
        		</p>
        		<p>
        			<%= f.submit "Enviar mensaje", :class => "action" %>
        		</p>
        	<% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="right">
    <div id="de_diputados" class="refinador">
      <h1>Búsqueda de diputados</h1>
      <%= render :partial => '/search_members/form' %>
    </div>
  </div>
</div>
