<%= content_for :toolbar do -%>
  <% if can? :manage, Member %>
    <div id="toolbar">
  	  <%= link_to "Editar", edit_member_path(@member) %> |
  	  <%= link_to "Regresar a diputados", members_path %> |
  		<%= link_to "Mensajes a diputado", member_messages_path(@member) %>
  		<%= link_to "Eliminar", @member, :method => :delete, :confirm => "¿Estás seguro que lo deseas eliminar?" %>
    </div>
  <% end %>
<% end -%>

<% content_for :title do -%>
  <%= @member.name %>
<% end -%>

<div class="section s-70">
  <div class="box big-header">
    <div class="dipufoto">
      <div class="partido"><%= image_tag(@member.party.abbr.downcase+".png", :height => 30, :width => 30) %></div>
      <%= image_tag(@member.picture.url(:thumb)) %>
    </div>
    <h1 class="slim"><%= @member.name %></h1>
    <ul class="details">
      <li><%= @member.party.abbr %> | </li>
      <li><%= @member.state_name %> |</li>
      <li><%= @member.election %></li>
    </ul>
    
    <h5>Suplente</h5>
    <h5><%=h @member.substitute %></h5>
    
    <div class="boxin">
      <div class="content">
        

                
      </div>
    </div>
  </div>
</div>

<div class="section s-30">
	<div class="sidebar">
		<div class="content padded">
		  <%= render :partial => "members/sidebar" %>
		</div>
  </div>
</div>
